@import "./variables.scss";
@import "./mixins.scss";

body {
    margin: auto;
    font-family: 'Numans', sans-serif;
    background: $sakura-white;
    color: $mauve-text;
    box-sizing: border-box;
}

#root {
    // max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    box-sizing: border-box;
}

.arrow__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: $mauve-text;
    font-size: 24px;
    background: $cherry-blossom-pink;
    border-radius: 50%;
    box-shadow: $shadow;
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.underline {
    width: 80%;
    margin: 0 auto;
    height: 1px;
    background: $mauve-text;
}