// colors
$dark-background: #0D0C1D;

$sakura-white: #F5F5F5;
$mauve-text: #211f26;
$cherry-blossom-pink: #FFB7C5;
$cherry-blossom-pink-hover: #FFA7B5;

// response
$breakpoint-tablet: 1080px;
$breakpoint-mobile: 768px;

// shadow
$shadow: 0px 5px 10px 0px rgba(33, 31, 38, 0.2);
$shadow-hover: 0px 5px 10px 0px rgba(33, 31, 38, 0.4);

// 
$deep-blue: #004E89;
$bamboo-green: #8CBF26;
$goldenrod-yellow: #FFC914;
