// colors
$dark-background: #0D0C1D;

$sakura-white: #F5F5F5;
$mauve-text: #211f26;

// response
$breakpoint-tablet: 1080px;
$breakpoint-mobile: 768px;

// 
$deep-blue: #004E89;
$cherry-blossom-pink: #FFB7C5;
$bamboo-green: #8CBF26;
$goldenrod-yellow: #FFC914;
