@import "../../utilities/mixins.scss";
@import "../../utilities/variables.scss";

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 64px;
    margin: 25px auto;
    background: $mauve-text;
    color: $sakura-white;

    @include tablet {
        gap: 15px;
        padding: 48px;
    }

    @include mobile {
        gap: 10px;
        padding: 32px;
    }

    &__title {
        font-family: 'Viaoda Libre', sans-serif;
        @include font(400, 2.25rem);
        padding: 5px;

        @include tablet {
            @include font(400, 2rem);
        }

        @include mobile {
            @include font(400, 2rem);
        }
    }

    &__scroller {
        max-width: 800px;
        user-select: none;

        @include tablet {
            max-width: 700px;
        }

        @include mobile {
            max-width: 400px;
            // max-width: 100%;
        }
    }

    &__scroller[data-animated=true] {
        overflow: hidden;
        -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

        .scroller__inner {
            width: max-content;
            flex-wrap: nowrap;
            animation: scroller 40s linear infinite;
        }
    }

    .scroller__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 15px 0;
    }

    .skills__tags__tag {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        width: 20%;

        @include tablet {
            @include font(400, 0.875rem);
        }

        @include mobile {
            @include font(400, 0.875rem);
        }

        .tag__icon {
            height: 50px;

            @include tablet {
                height: 45px;
            }

            @include mobile {
                height: 40px;
            }
        }
    }
}

