@import "../../utilities/variables.scss";
@import "../../utilities/mixins.scss";
@import "../../utilities/keyframes.scss";

.header {
    height: 100vh;
    background: url('../../../public/img/japanese_temple_with_a_man_standing_in_front_of.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 70%;
    position: relative;
    background-color: $dark-background;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
    }

    &__wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        top: 35%;
        left: 6%;
        color: $sakura-white;

        @include tablet {
            width: 65%;
        }

        @include mobile {
            width: 90%;
        }

        .header__title {
            @include font(400, 10.25rem);
            font-family: 'Viaoda Libre', sans-serif;

            @include tablet {
                @include font(400, 8.25rem);
            }

            @include mobile {
                @include font(400, 5.25rem);
            }
        }

        .header__description {
            @include font(400, 1rem);
            width: 60%;
            line-height: 1.3;

            @include tablet {
                width: 80%;
            }

            @include mobile {
                width: 85%;
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px;
        margin-left: 15%;

        &__icon {
            display: flex;
            width: 25px;
            height: 25px;

            g, path {
                fill: $sakura-white;
            }
        }
    }

    &__scroll {
        width: 1.5rem;
        height: 2.25rem;
        border: solid 2px $sakura-white;
        border-radius: 30px;
        position: relative;
        position: absolute;
        left: 50%;
        bottom: 3%;

        &::before {
            content: '';
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            background: $sakura-white;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            animation: scroll 2.5s infinite;
        }
    }
}