@import "../../../utilities/variables.scss";
@import "../../../utilities/mixins.scss";

.header__navbar {
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    opacity: 0;
    transition: all 0.7s ease-out;
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;

    &--scrolled {
        background: $sakura-white;
        opacity: 1;
    }

    .navbar__wrapper {
        width: auto;
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 5rem;
        position: relative;

        @include tablet {
            display: block;
            margin: 0;
            padding: 1rem 1.5rem;
        }

        @include mobile {
            display: block;
            margin: 0;
            padding: 0.5rem 1rem;
        }
        
        .navbar__burger-menu {
            display: none;
            font-size: 1.5rem;
            cursor: pointer;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;

            @include tablet {
                display: block;
                top: 2rem;
                right: 2rem;
            }

            @include mobile {
                display: block;
                top: 1.5rem;
                right: 1.5rem;
            }
        }

        .navbar__logo {
            align-self: flex-start;
        }
        
        .navbar__links {
            width: auto;
            display: flex;
            align-items: center;
            gap: 30px;
            letter-spacing: .1em;

            @include tablet {
                display: none;
            }

            @include mobile {
                display: none;
            }

            &__link {
                @include font(500, 0.8rem);
                text-transform: uppercase;

                @include tablet {
                    @include font(500, 0.875rem);
                }

                @include mobile {
                    @include font(500, 0.875rem);
                }

                a {
                    color: $mauve-text;
                    text-decoration: none;
                    cursor: pointer;
                    
                    .navbar__contact-icon {
                        display: inline-block;
                        font-size: 1rem;

                        @include tablet {
                            display: none;
                        }

                        @include mobile {
                            display: none;
                        }
                    }

                    .navbar__contact-text {
                        display: none;

                        @include tablet {
                            display: inline-block;
                        }

                        @include mobile {
                            display: inline-block;
                        }
                    }
                }
            }

            &__link:last-child {
                @include tablet {
                    margin-bottom: 1rem;
                }

                @include mobile {
                    margin-bottom: 1rem;
                }
            }
        }

        .open {
            @include tablet {
                display: flex;
                flex-direction: column;
                gap: 15px;
                position: absolute;
                right: 0;
                background: $sakura-white;
                width: 100%;
            }

            @include mobile {
                display: flex;
                flex-direction: column;
                gap: 15px;
                position: absolute;
                right: 0;
                background: $sakura-white;
                width: 100%;
            }
        }
    }
}